#app{
    font: 14px lato;
    color : #4d4d4d;
    min-width: 550px;
    max-width: 850px;
    margin: 10px auto;
}
a.active{
    color:orange;
}
.header_app{
    position: static;
    padding-top: 5%;
}
.header_app nav{
   margin-left: auto;
   margin-right: auto;
   padding-top: 10px;
   padding-left: 10px;
   font-size: 20px;
   font-family: lato;
   
}
.header_app nav a{
    margin-right: 5px;
}

a:hover{
    background-color: #e8e7e7
}
.jsx_example fieldset {
    display: block;
    -webkit-margin-start: 2px;
    -webkit-margin-end: 2px;
    -webkit-padding-before: 0.35em;
    -webkit-padding-start: 0.75em;
    -webkit-padding-end: 0.75em;
    -webkit-padding-after: 0.625em;
    min-width: -webkit-min-content;
    border-width: 2px;
    border-style: groove;
    border-color: threedface;
    border-image: initial;
    margin-bottom: 5px;

}

